@inject Microsoft.JSInterop.IJSRuntime JSRuntime;

<table id="@id" class="table" style="width:100%" @attributes=UserAttributes>
    @ChildContent
</table>

@code
{
    [Parameter]
    public bool Searchable { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string id { get; set; } = "DataTable-" + Guid.NewGuid().ToString();

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> UserAttributes { get; set; }


    protected override void OnParametersSet()
    {
        StateHasChanged();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("Llama la funcion");
        await JSRuntime.InvokeAsync<string>("AddDataTable", new object[] { $"#{id}", Searchable });        
    }
}